.variant-info {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 32px;
}

.variant-info[color="gray"] > .variant-info__title--dark,
.variant-info[color="gray"] > .variant-info__title--color,
.variant-info[color="gray"] > .variant-info__title--red,
.variant-info[color="gray"] > .variant-info__description--lorem,
.variant-info[color="black"] > .variant-info__title--white,
.variant-info[color="black"] > .variant-info__title--color,
.variant-info[color="black"] > .variant-info__title--red,
.variant-info[color="black"] > .variant-info__description--white,
.variant-info[color="purple"] > .variant-info__title--white,
.variant-info[color="purple"] > .variant-info__title--dark,
.variant-info[color="purple"] > .variant-info__title--red,
.variant-info[color="purple"] > .variant-info__description--white,
.variant-info[color="red"] > .variant-info__title--white,
.variant-info[color="red"] > .variant-info__title--dark,
.variant-info[color="red"] > .variant-info__title--color,
.variant-info[color="red"] > .variant-info__description--white {
  display: none;
}

.variant-info__title {
  position: relative;

  color: var(--gray);
  font-size: calc(60px + 5 * var(--unit));
  -webkit-text-stroke: 2px;
  -webkit-text-fill-color: transparent;
}

.variant-info__product {
  position: absolute;
  right: calc(-10px - var(--unit));
  bottom: 0;
  width: calc(20px + 2 * var(--unit));
}

.variant-info__description {
  max-width: 512px;

  font-size: calc(20px);
  margin-bottom: 32px;
}
